
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
   

}
p{
    color: white;
}
h1{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
/* content 1 */
#content-1{
    position: relative;
    background:url(./img/netflix_background.jpg) ;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    border-bottom: 6px solid rgba(44, 43, 43, 0.9);
    /* z-index: 2; */
}
#content-1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}
#content-1 .content-top{
    position: relative;
    z-index: 2;
}
#content-1 .content-top img{
    position: relative;
    /* position: absolute; */
    height: 40px;
    width: 120px;
    top: 6vh;
    left: 50px;

}
#content-1 .content-top .drop-menu{
    /* width: 100px; */
    position: absolute;
    padding: 6px 10px;
    /* border: none; */
    background: transparent;
   
    color: white;
    right: 14%;
    top: 5vh;
    cursor: pointer;
    border: 1px solid white;
    /* text-align: center; */
}
#content-1 .content-bottom{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 70%;
   margin-top: 30px;
   margin-right: auto;
   margin-left: auto;
    text-align: center;

    
  
    height: 100%;
    /* background: rebeccapurple; */
}
#content-1 .content-bottom h1{
   
    font-family: 'Montserrat', sans-serif;
    max-width: 70%;
    font-size: 45px;
}
#content-1 .content-bottom  .para1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;

}
#content-1 .content-bottom  .para2{
    font-size: 20px;
    margin-bottom: 15px;
}
#content-1 .content-bottom .content-1-input{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    width: 75%;
    background: chartreuse;

}
#content-1 .content-bottom .content-1-input input
{
    text-indent: 20px;
    font-size: 15px;
    color: #999;

}
#content-1 .content-bottom .content-1-input a{
    padding: 17px;
    /* vertical-align: center; */
  
}


/* end of content 1 */
/* content 2 */
#content-2{
    display: grid;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 6px solid rgba(44, 43, 43, 0.9);
}

#content-2 .content-2-left{
    padding: 10px;
    /* background: green; */
   
}

#content-2 .content-2-right img{
    
    transform: scale(0.8) ;
   
}





/* end of content-2 */

/* content-3 */
#content-3{
    display: grid;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 6px solid rgba(44, 43, 43, 0.9);
    
}



/* end of content 3 */
/* content-4 */
#content-4{
    display: grid;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 6px solid rgba(44, 43, 43, 0.9);
    

}


/* end of content 4 */
/* content-5 */
#content-5{
    display: grid;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 6px solid rgba(44, 43, 43, 0.9);

}



/* end of content-5 */


/* content 6 */
#content-6{
    display: grid;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr ;
    padding: 10px;
    border-bottom: 6px solid rgba(44, 43, 43, 0.9);
    text-align: center;
   
   

}
#content-6>h1{
    margin-top: 30px;
    margin-bottom: 40px;
    /* background-color: red; */
}
#content-6 .content-6-content{
    display: grid;
    grid-template-columns: 1fr ;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(44, 43, 43, 0.9);
    margin-bottom: 10px;
}
#content-6 .content-6-content .head{
    /* display: block; */
    border-bottom: 1.5px solid black;
    position: relative;
   

   
   
    text-align: left;

    padding: 20px;
   
   
   
}
.head h1{
    font-weight: 300;
    text-indent: 15px;
    font-size: 25px;
}
#content-6 .content-6-content .head-content p{
    font-size:25px ;
    text-align: left;

   
    /* color: white; */
}
#content-6 .content-6-content .head-content{
    padding:30px ;
    display: none;
}
#content-6 .content-6-content .head .fa-times{
    display: none;
}

.plus{
    position: absolute;
    color: white;
    top: 30%;
    font-weight: 200;
    font-size: 30px;
    right: 5%;
    cursor: pointer;
    /* transform: skewX(90deg); */
   /* transform: rotate(90deg); */
}

#content-6 >p{
   margin-top: 40px;
   margin-bottom: 10px;
    font-size: 17px;
}
#content-6 .content-1-input
{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 50px;
}
#content-6 .content-1-input a{
    padding: 17px;
    /* vertical-align: center; */
  
}


/* end of content 6 */

/* footer */
#footer{
    display: grid;
    grid-template-columns: 1fr;
    max-width:80% ;
    margin: auto;
    color: #999;
    padding-left: 60px;
   
}
#footer .footer-header{
    /* background-color: red; */
    margin-top: 60px;
  
    margin-bottom: 30px;
}
#footer .footer-header p{
   
    color: #999;
}
#footer .footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}
#footer .footer-content ul li{
    height: 40px;
}
#footer .drop-menu{
    color: #999;
    background: transparent;
    width: 100px;
    height: 40px;
    /* padding: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer >p{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #999;
}



/* end of footer */
/* 
input 

*/
#input1{
    font-size: 20px;
    text-indent: 20px;
}
#input1:focus{
   outline: none;
}

/* head -1 and para -1 */
.head-1{
    margin-top: 35%;
    margin-bottom:20px;
   
    /* margin-bottom: 10px; */
    font-size: 45px;
    font-weight: 600;
}
.para-1{
    font-size: 25px;
}




/* end of head-1 and para-1 */



/* buttons  */
.btn{
    background-color: var(--primary-color);
    font-size: 20px;
    

}
.btn-small{
    position: absolute;
    right: 5%;
    top: 5vh;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 5px;
 
}







/* end buttons */